.card{
            margin: auto;
            width:300px;
            height:500px;
            border: 1px solid gray;
            border-radius :3%;
            overflow:hidden;
}
.profile_img{
           width: 100px;
           height: 100px;
           border-radius: 50%;
           padding-top : 35px;
           padding-bottom : 35px;
}
.name{
                   text-align: center;
                   font-size : 25px;
                   color : red;
                   margin-top : 10px;
                   margin-left : 20px;
                   margin-right : 20px;
                   border-bottom : 0.5px solid gray;
                   padding-bottom: 10px;
}
.intro{
          text-align : center;
          overflow-y:scroll;
          height:220px;
          padding-right:25px;
          padding-left:25px;
}
.profile_img_div{
          margin-bottom:15px;
          text-align: center;
          background-color: yellow;
}
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #B0E2FF;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #9487E9;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #B0E2FF;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */